[package]
name = "eyemotion-core"
version.workspace = true
edition.workspace = true

[dependencies]
serde.workspace = true
serde_json.workspace = true
rand.workspace = true
thiserror.workspace = true
log.workspace = true
